<!-- 
#--------------------------------------------------------------------------------------------------
#--------------------Extraccion de impedancias en escala de color----------------------------------
#--------------------------------------------------------------------------------------------------
#-------------Alexis Rafael del Carmen Ávila Ortiz--------CC 1083555169----------------------------
#-------------alexis.avila@udea.edu.co--------------------Wpp +57 305 2230574----------------------
#--------------------------------------------------------------------------------------------------
#-------------Yorguin José Mantilla Ramos-----------------CC 1127617499----------------------------
#-------------yorguinj.mantilla@udea.edu.co---------------Wpp +57 311 5154452----------------------
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
#----------------------Estudiantes Facultad de Ingenieria  ----------------------------------------
#--------Curso Básico de Procesamiento de Imágenes y Visión Artificial-----------------------------
#--------------------------Septiembre de 2021------------------------------------------------------
#--------------------------------------------------------------------------------------------------
-->

<!-- heredar de la base -->
{% extends "base.html" %}

<!-- seleccionar el inicio como pagina activa -->
{% set active_page = "index" %}

<!-- lo que colocaremos en el bloque de contenido del template base -->
{% block content %}

<!-- clase para margen izquierdo -->
<div class="ml-5">

<!-- un texto introductorio de la aplicacion -->
<p>zcolors is a python package to do the following conversion.</p>
<p><img src={{ url_for('static', filename='input_output.jpg')}} alt="image" /></p>

<ul>
<li><dl>
<!-- aclaracion de los modos de uso del software -->
zcolors can be used through:
<dd><ol style="list-style-type: lower-alpha">
<li>its python API</li>
<li>its web-app.</li>
</ol>
</dd>
</dl></li>
</ul>
<!-- Advertencia por el limite de tiempo de respuesta de heroku -->
<p>Warning: Currently heroku has a time limit of 30 seconds for the response. If your upload or the processing takes more than that, it will fail. If you deploy the app locally it will work though.</p>
</div>
{% endblock %}

