<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Z COLORS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% block nav_scale %}{% endblock %}" href="{{ url_for('scale_page') }}">Scale</a>
        <a class="nav-item nav-link {% block nav_upload_file %}{% endblock %}" href="{{ url_for('upload_file',what_to_upload='example') }}">Upload Example</a>
        <a class="nav-item nav-link {% block nav_default_example %}{% endblock %}" href="{{ url_for('default_example') }}">Use Default Example</a>

      </div>
    </div>
  </nav>
