<!-- 
#--------------------------------------------------------------------------------------------------
#--------------------Extraccion de impedancias en escala de color----------------------------------
#--------------------------------------------------------------------------------------------------
#-------------Alexis Rafael del Carmen Ávila Ortiz--------CC 1083555169----------------------------
#-------------alexis.avila@udea.edu.co--------------------Wpp +57 305 2230574----------------------
#--------------------------------------------------------------------------------------------------
#-------------Yorguin José Mantilla Ramos-----------------CC 1127617499----------------------------
#-------------yorguinj.mantilla@udea.edu.co---------------Wpp +57 311 5154452----------------------
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
#----------------------Estudiantes Facultad de Ingenieria  ----------------------------------------
#--------Curso Básico de Procesamiento de Imágenes y Visión Artificial-----------------------------
#--------------------------Septiembre de 2021------------------------------------------------------
#--------------------------------------------------------------------------------------------------
-->

<!-- heredar de la base -->
{% extends "base.html" %}

<!-- lo que colocaremos en el bloque de contenido del template base -->
{% block content %}

<!-- clase para el margen a la izquierda -->
<div class="ml-5">

        <!-- titulo de la pagina -->
        <h1>{{title}}</h1>
        </div>
          <div style="float: left;width: 50%;">
            <!-- se incluye el template que muestra la escala -->
            {% include 'scale_table.html' %}
          </div>
          <div class="px-5" style="float: right;width: 50%;">

            <!-- logica de ejemplo del usuario vs ejemplo por defecto del aplicativo -->

            <!-- si hay ejemplo disponible -->
            {% if example != '' %}
            <!-- si el modo es ejemplo por defecto, se usa el ejemplo dentro de la carpeta static -->

            {% if mode=='default' %}
            <img src={{ url_for('static', filename=example) }} style="max-width: 100%; height: auto; object-fit: cover;"></img>

            <!-- si el usuario subio un archivo de ejemplo es necesario simular que descargamos ese archivo
            ya que como tal la imagen no esta en la carpeta static -->
            <!-- ver https://stackoverflow.com/questions/26971491/how-do-i-link-to-images-not-in-static-folder-in-flask -->
            {% elif mode=='upload' %}
            <img src={{ url_for('download_file', filename=example) }} style="max-width: 100%; height: auto; object-fit: cover;"></img>

            <!-- si el ejemplo viene en forma cruda en la entrada example -->
            {% elif mode=='raw' %}
            <img src={{ example}} style="max-width: 100%; height: auto; object-fit: cover;"></img>
            {% endif %}
            {% endif %}
          
          </div>

{% endblock %}
